@{ ViewData["Title"] = "Home Page"; }

<div class="text-center mb-4">
    <h1 class="display-4">Chào mừng Tới Shop Điện Thoại</h1>
</div>

<div id="products" class="row">
    <partial name="_ProductPartial" />
</div>

<div class="text-center">
    <button id="btnLoadMore" class="btn btn-primary">Load More</button>
</div>

@section Scripts
{
    <script>
        let CurrentPage = 2;
        $("#btnLoadMore").click(function () {
            $.ajax({
                url: "Customer/Home/LoadMore",
                data: { page: CurrentPage },
                success: function (data) {
                    if ($.trim(data) === '')
                        $("#btnLoadMore").hide();
                    else
                        $("#products").append(data);
                }
            });
            CurrentPage++;
        });
    </script>
}