@model List<Product>
<h2>Xem Sản Phẩm THể Loại</h2>
<div class="row">
    <div class="col-md-3">
        <h3>Category</h3>
        <div id="Category-List"></div>
    </div>
    <div class="col-md-9">
        <h3>Product-List</h3>
        <div class="row">
            <partial name="_ProductPartial" />
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#category-List').load("/Prodyct/GetCateGory")
    </script>
}